.auction {
  padding-block: var(--section-padding-block);

  &__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap);
    gap: 16px;
  }

  &__live-badge {
    display: inline-flex;
    align-items: center;
    border: 2px solid var(--red);
    border-radius: 40px;
    height: 36px;
    font-weight: 700;
    font-size: 16px;
    color: var(--red);
    gap: 6px;
    padding-inline: 15px;

    &::before {
      content: "";
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background-color: currentColor;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__info {
    display: flex;
    margin-bottom: 91px;
    gap: var(--gap);
  }

  &__sticker {
    max-width: 460px;
    max-height: 460px;

    &-tag {
      font-weight: 400;
      font-size: 48px;
      color: var(--black);
    }
  }

  &__user {
    display: flex;
    align-items: center;
    border-radius: 23px;
    padding: 12px 17px;
    max-width: 226px;
    background-color: var(--grey-light);
    gap: 16px;
  }

  &-user {
    &__photo {
      border-radius: 50%;
      width: 46px;
      height: 46px;
    }

    &__name {
      font-weight: 700;
      font-size: 20px;
      color: var(--black);
    }
  }

  &__cards {
    display: flex;
    gap: var(--gap);
  }

  &__card {
    border-radius: 40px;
    padding: var(--gap);
    padding-right: 57px;
    max-height: 174px;
    background-color: var(--grey-light);

    &--dark {
      display: flex;
      padding: var(--gap);
      background-color: var(--black);
      gap: 44px;
    }
  }

  &__descr {
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 20px;
    color: var(--black);

    &--light {
      color: var(--white);
    }
  }

  &__crypto-price {
    font-weight: 700;
    font-size: 48px;
    color: var(--black);
  }

  &__price {
    font-weight: 700;
    font-size: 20px;
    color: var(--grey-middle);
  }

  &__time {
    font-weight: 700;
    font-size: 48px;
    color: var(--white);

    &-descr {
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: var(--white);
    }
  }

  &__timer {
    display: flex;
    gap: 26px;
  }

  &__text {
    margin-bottom: var(--gap);
    font-family: var(--second-family);
    font-size: 20px;
    color: var(--black);
  }

  &__others {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: var(--gap);
    gap: var(--gap);
  }

  &-others {
    &__card {
      &-top {
        display: flex;
        flex-grow: 0;
        justify-content: center;
        border-radius: var(--border-radius-main) var(--border-radius-main) 0 0;
        padding: 7px;
        background-color: var(--grey-light);
      }

      &-bottom {
        border-radius: 0 0 var(--border-radius-main) var(--border-radius-main);
        padding: 16px 16px 31px;
        background-color: var(--black);
      }
    }

    &__user {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      gap: 8px;
    }

    &__avatar {
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }

    &__nickname {
      font-weight: 700;
      font-size: 16px;
      color: var(--white);
    }

    &__sticker-tag {
      margin-bottom: 9px;
      font-weight: 700;
      font-size: 20px;
      color: var(--white);
    }

    &__crypto-price {
      margin-bottom: 9px;
      font-weight: 700;
      font-size: 20px;
      color: var(--primary);
    }

    &__countdown {
      font-weight: 700;
      font-size: 16px;
      color: var(--grey-middle);
    }
  }
}
