.new-stickers {
  background-color: var(--black);
  padding-block: var(--section-padding-block);

  &__subtitle {
    position: relative;
    margin-bottom: var(--gap);
    padding-left: 64px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 46px;
      height: 46px;
      background-image: url("../img/fire.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }

  &__slide-inner {
    display: flex;
    justify-content: space-between;
  }
}
