.subscribe {
  padding: 32px 0;
  background-color: var(--red);

  &__container {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: var(--container-offset);
      top: -32px;
      bottom: -32px;
      z-index: -1;
      background-image: url("../img/bg/subscribe-bg.webp");
      background-position: center right;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  
}
