.sub-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__input {
    border: none;
    border-radius: var(--border-radius-main);
    padding-left: 32px;
    height: 70px;
    max-width: 460px;
    font-weight: 400;
    font-size: 20px;
    color: var(--grey-light);
    background-color: var(--black);

    &::placeholder {
      color: var(--grey-light);
    }

    &:hover {
      border: none;
    }
  }

  &__checkbox-wrapper {
    display: flex;
    align-items: center;
  }

  &__label {
    font-weight: 700;
    font-size: 12px;
    color: var(--white);
    cursor: pointer;
    user-select: none;
  }

  &__fake-check {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    border: 1px solid var(--white);
    width: 14px;
    height: 14px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      display: inline-block;
      width: 10px;
      height: 8px;
      background-image: url('../img/icons/check-mark.svg');
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s ease;
    }
  }

  &__real-check {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked+.sub-form__fake-check::before {
      transform: translate(-50%, -50%) scale(1);
    }

    // &:focus + .sub-form__fake-check {
    //   box-shadow: 0 0 0 1px var(--curious-blue), 0 0 7px var(--curious-blue);
    // }
  }
}
