<section class="auction">
  <div class="container auction__container">
    <div class="auction__title-wrapper">
      <h2 class="subtitle auction__subtitle">Аукцион</h2>
      <div class="auction__live-badge">Live auction</div>
    </div>
    <div class="auction__info">
      <img class="auction__sticker" src="img/witcher-sticker.webp" alt="Witcher Sticker">
      <div class="auction__content">
        <a class="auction__user auction-user" href="#">
          <img class="auction-user__photo" src="img/user1.webp" alt="User photo">
          <span class="auction-user__name">Serge_VM222</span>
        </a>
        <p class="auction__sticker-tag">Witcherrr_3 (xml_t5)</p>
        <div class="auction__cards">
          <div class="auction__card">
            <p class="auction__descr">Ставка:</p>
            <p class="auction__crypto-price">0.10 ETH</p>
            <p class="auction__price">$351.24</p>
          </div>
          <div class="auction__card auction__card--dark">
            <div class="auction__countdown">
              <p class="auction__descr auction__descr--light">Окончание через:</p>
              <div class="auction__timer">
                <div class="auction__time-slice">
                  <p class="auction__time">01</p>
                  <p class="auction__time-descr">Час</p>
                </div>
                <div class="auction__time-slice">
                  <p class="auction__time">48</p>
                  <p class="auction__time-descr">Мин</p>
                </div>
                <div class="auction__time-slice">
                  <p class="auction__time">47</p>
                  <p class="auction__time-descr">Сек</p>
                </div>
              </div>
            </div>
            <div class="auction__clock">
              <svg xmlns="http://www.w3.org/2000/svg" width="121" height="121" viewBox="0 0 121 121" fill="none">
                <path
                  d="M60.3272 111.275C88.4647 111.275 111.275 88.4647 111.275 60.3272C111.275 32.1898 88.4647 9.37988 60.3272 9.37988C32.1898 9.37988 9.37985 32.1898 9.37985 60.3272C9.37985 88.4647 32.1898 111.275 60.3272 111.275Z"
                  stroke="#717178" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M60.3269 34.8535V60.3272L73.0637 73.064" stroke="#717178" stroke-width="5"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
        </div>
        <button class="btn-reset btn-bid">Cделать ставку</button>
      </div>
    </div>
    <p class="auction__text">Другие аукционы</p>
    <div class="auction__others auction-others">
      <div class="auction-others__card">
        <div class="auction-others__card-top">
          <img class="auction-others__img" src="img/sticker-alien.webp" alt="alien sticker">
        </div>
        <div class="auction-others__card-bottom">
          <div class="auction-others__user">
            <img class="auction-others__avatar" src="img/user-avatar1.webp" alt="User avatar">
            <p class="auction-others__nickname">Frank.Nagval</p>
          </div>
          <p class="auction-others__sticker-tag">Alien (green) e_e</p>
          <p class="auction-others__crypto-price">0.02 ETH</p>
          <p class="auction-others__countdown">03 часа 25 мин 23 сек</p>
        </div>
      </div>
      <div class="auction-others__card">
        <div class="auction-others__card-top">
          <img class="auction-others__img" src="img/sticker-alien.webp" alt="alien sticker">
        </div>
        <div class="auction-others__card-bottom">
          <div class="auction-others__user">
            <img class="auction-others__avatar" src="img/user-avatar1.webp" alt="User avatar">
            <p class="auction-others__nickname">Frank.Nagval</p>
          </div>
          <p class="auction-others__sticker-tag">Alien (green) e_e</p>
          <p class="auction-others__crypto-price">0.02 ETH</p>
          <p class="auction-others__countdown">03 часа 25 мин 23 сек</p>
        </div>
      </div>
      <div class="auction-others__card">
        <div class="auction-others__card-top">
          <img class="auction-others__img" src="img/sticker-alien.webp" alt="alien sticker">
        </div>
        <div class="auction-others__card-bottom">
          <div class="auction-others__user">
            <img class="auction-others__avatar" src="img/user-avatar1.webp" alt="User avatar">
            <p class="auction-others__nickname">Frank.Nagval</p>
          </div>
          <p class="auction-others__sticker-tag">Alien (green) e_e</p>
          <p class="auction-others__crypto-price">0.02 ETH</p>
          <p class="auction-others__countdown">03 часа 25 мин 23 сек</p>
        </div>
      </div>
      <div class="auction-others__card">
        <div class="auction-others__card-top">
          <img class="auction-others__img" src="img/sticker-alien.webp" alt="alien sticker">
        </div>
        <div class="auction-others__card-bottom">
          <div class="auction-others__user">
            <img class="auction-others__avatar" src="img/user-avatar1.webp" alt="User avatar">
            <p class="auction-others__nickname">Frank.Nagval</p>
          </div>
          <p class="auction-others__sticker-tag">Alien (green) e_e</p>
          <p class="auction-others__crypto-price">0.02 ETH</p>
          <p class="auction-others__countdown">03 часа 25 мин 23 сек</p>
        </div>
      </div>
      <div class="auction-others__card">
        <div class="auction-others__card-top">
          <img class="auction-others__img" src="img/sticker-alien.webp" alt="alien sticker">
        </div>
        <div class="auction-others__card-bottom">
          <div class="auction-others__user">
            <img class="auction-others__avatar" src="img/user-avatar1.webp" alt="User avatar">
            <p class="auction-others__nickname">Frank.Nagval</p>
          </div>
          <p class="auction-others__sticker-tag">Alien (green) e_e</p>
          <p class="auction-others__crypto-price">0.02 ETH</p>
          <p class="auction-others__countdown">03 часа 25 мин 23 сек</p>
        </div>
      </div>
      <div class="auction-others__card">
        <div class="auction-others__card-top">
          <img class="auction-others__img" src="img/sticker-alien.webp" alt="alien sticker">
        </div>
        <div class="auction-others__card-bottom">
          <div class="auction-others__user">
            <img class="auction-others__avatar" src="img/user-avatar1.webp" alt="User avatar">
            <p class="auction-others__nickname">Frank.Nagval</p>
          </div>
          <p class="auction-others__sticker-tag">Alien (green) e_e</p>
          <p class="auction-others__crypto-price">0.02 ETH</p>
          <p class="auction-others__countdown">03 часа 25 мин 23 сек</p>
        </div>
      </div>
      <div class="auction-others__card">
        <div class="auction-others__card-top">
          <img class="auction-others__img" src="img/sticker-alien.webp" alt="alien sticker">
        </div>
        <div class="auction-others__card-bottom">
          <div class="auction-others__user">
            <img class="auction-others__avatar" src="img/user-avatar1.webp" alt="User avatar">
            <p class="auction-others__nickname">Frank.Nagval</p>
          </div>
          <p class="auction-others__sticker-tag">Alien (green) e_e</p>
          <p class="auction-others__crypto-price">0.02 ETH</p>
          <p class="auction-others__countdown">03 часа 25 мин 23 сек</p>
        </div>
      </div>
      <div class="auction-others__card">
        <div class="auction-others__card-top">
          <img class="auction-others__img" src="img/sticker-alien.webp" alt="alien sticker">
        </div>
        <div class="auction-others__card-bottom">
          <div class="auction-others__user">
            <img class="auction-others__avatar" src="img/user-avatar1.webp" alt="User avatar">
            <p class="auction-others__nickname">Frank.Nagval</p>
          </div>
          <p class="auction-others__sticker-tag">Alien (green) e_e</p>
          <p class="auction-others__crypto-price">0.02 ETH</p>
          <p class="auction-others__countdown">03 часа 25 мин 23 сек</p>
        </div>
      </div>
    </div>
    <button class="btn-reset btn-auction-more">Все аукционы</button>
  </div>
</section>
