<header class="header">
  <div class="container header__container">
    <div class="header__wrapper">
      <a class="header__logo-link" href="#">
        <img class="header__logo" src="img/logo.svg" alt="Aura logo">
      </a>
      <nav class="nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Авторы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Коллекции</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Сервисы</a>
          </li>
        </ul>
      </nav>
    </div>
    <button class="btn-reset btn-wallet header__button">Кошелёк</button>
  </div>
</header>
