<section class="new-stickers">
  <div class="container">
    <h2 class="subtitle subtitle--light new-stickers__subtitle">Новые стикеры</h2>
    <div class="swiper new-stickers__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="new-stickers__slide-inner">
            <img draggable = "false" src="img/stickers/sticker-ghost-2.webp" alt="ghost sticker holo">
            <img draggable = "false" src="img/stickers/sticker-ghost-1.webp" alt="ghost sticker green">
            <img draggable = "false" src="img/stickers/sticker-parental-advisory.webp" alt="sticker parental advisory">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="new-stickers__slide-inner">
            <img draggable = "false" src="img/stickers/sticker-chrome-is-dead.webp" alt="sticker chrome is dead">
            <img draggable = "false" src="img/stickers/sticker-infinity.webp" alt="sticker infinity">
          </div>
        </div><div class="swiper-slide">
          <div class="new-stickers__slide-inner">
            <img draggable = "false" src="img/stickers/sticker-iamdesigner.webp" alt="sticker iamdesigner">
            <img draggable = "false" src="img/stickers/sticker-global.webp" alt="sticker global">
            <img draggable = "false" src="img/stickers/sticker-hands.webp" alt="sticker hands">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="new-stickers__slide-inner">
            <img draggable = "false" src="img/stickers/sticker-new-wave.webp" alt="sticker new wave">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
