<section class="subscribe">
  <div class="container subscribe__container">
    <h3 class="subsubtitle subscribe__subsubtitle">Будь в курсе новинок! Подпишись на рассылку!</h3>
    <form class="subscribe__form sub-form">
      <input class="sub-form__input" type="text" placeholder="Имя">
      <input class="sub-form__input" type="email" placeholder="E-mail">
      <button class="btn-reset btn-bid">Подписаться</button>
      <div class="sub-form__checkbox-wrapper">
        <input class="sub-form__real-check" type="checkbox" id="accept" name="accept" />
        <span class="sub-form__fake-check"></span>
        <label class="sub-form__label" for="accept">Согласен на обработку персональных данных
        </label>
      </div>
    </form>
  </div>
</section>
