<section class="top-sale">
  <div class="container top-sale__container">
    <h2 class="subtitle subtitle--light top-sale__subtitle">Топ продаж</h2>
    <div class="top-sale__cards">
      <div class="top-sale__card sale-card">
        <div class="sale-card__sticker">
          <img src="img/stickers/holo.webp" alt="" class="sale-card__img" />
        </div>
        <div class="sale-card__content">
          <div class="sale-card__user">
            <img src="img/user2.webp" alt="" class="sale-card__avatar" />
            <span class="sale-card__nickname">ttgs</span>
          </div>
          <p class="sale-card__sticker-name">Holofobia1</p>
          <p class="sale-card__price">
            4.70 ETH
            <span class="sale-card__price--highlight">($16,873.47)</span>
          </p>
        </div>
      </div>
      <div class="top-sale__card sale-card">
        <div class="sale-card__sticker">
          <img src="img/stickers/holo.webp" alt="" class="sale-card__img" />
        </div>
        <div class="sale-card__content">
          <div class="sale-card__user">
            <img src="img/user2.webp" alt="" class="sale-card__avatar" />
            <span class="sale-card__nickname">ttgs</span>
          </div>
          <p class="sale-card__sticker-name">Holofobia1</p>
          <p class="sale-card__price">
            4.70 ETH
            <span class="sale-card__price--highlight">($16,873.47)</span>
          </p>
        </div>
      </div>
      <div class="top-sale__card sale-card">
        <div class="sale-card__sticker">
          <img src="img/stickers/holo.webp" alt="" class="sale-card__img" />
        </div>
        <div class="sale-card__content">
          <div class="sale-card__user">
            <img src="img/user2.webp" alt="" class="sale-card__avatar" />
            <span class="sale-card__nickname">ttgs</span>
          </div>
          <p class="sale-card__sticker-name">Holofobia1</p>
          <p class="sale-card__price">
            4.70 ETH
            <span class="sale-card__price--highlight">($16,873.47)</span>
          </p>
        </div>
      </div>
      <div class="top-sale__card sale-card">
        <div class="sale-card__sticker">
          <img src="img/stickers/holo.webp" alt="" class="sale-card__img" />
        </div>
        <div class="sale-card__content">
          <div class="sale-card__user">
            <img src="img/user2.webp" alt="" class="sale-card__avatar" />
            <span class="sale-card__nickname">ttgs</span>
          </div>
          <p class="sale-card__sticker-name">Holofobia1</p>
          <p class="sale-card__price">
            4.70 ETH
            <span class="sale-card__price--highlight">($16,873.47)</span>
          </p>
        </div>
      </div>
      <div class="top-sale__card sale-card">
        <div class="sale-card__sticker">
          <img src="img/stickers/holo.webp" alt="" class="sale-card__img" />
        </div>
        <div class="sale-card__content">
          <div class="sale-card__user">
            <img src="img/user2.webp" alt="" class="sale-card__avatar" />
            <span class="sale-card__nickname">ttgs</span>
          </div>
          <p class="sale-card__sticker-name">Holofobia1</p>
          <p class="sale-card__price">
            4.70 ETH
            <span class="sale-card__price--highlight">($16,873.47)</span>
          </p>
        </div>
      </div>
      <div class="top-sale__card sale-card">
        <div class="sale-card__sticker">
          <img src="img/stickers/holo.webp" alt="" class="sale-card__img" />
        </div>
        <div class="sale-card__content">
          <div class="sale-card__user">
            <img src="img/user2.webp" alt="" class="sale-card__avatar" />
            <span class="sale-card__nickname">ttgs</span>
          </div>
          <p class="sale-card__sticker-name">Holofobia1</p>
          <p class="sale-card__price">
            4.70 ETH
            <span class="sale-card__price--highlight">($16,873.47)</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
